<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{place.title}}">
  <ion-content class="padding">
    <!--<img ng-src="{{place.image}}" style="width: 64px; height: 64px">-->
    <p>
      {{place.description}}
    </p>
    <p>
      <a href="#" ng-click="openURL('https://nl.m.wikipedia.org/?curid={{place.pageid}}')">{{place.title}} op
        Wikipedia</a>
    </p>
    <h2>My photos</h2>
    <button class="button button-positive icon ion-images" ng-click="pickImage()">

    </button>
    <div class="row responsive-sm">
      <div ng-repeat="img in place.images">
        <img src="http://145.93.32.208:8000/{{img}}" width="100%"/>
      </div>
    </div>
  </ion-content>
</ion-view>
