<ion-view view-title="Map">
  <ion-content scroll="false">
    <div class="search-box">
      <label class="item item-input item-search">
        <i class="icon ion-search placeholder-icon"></i>
        <form ng-submit="SearchSubmit()">
          <input ng-model="search" type="search" placeholder="Search">
        </form>
      </label>
    </div>
    <div class="map" id="map_canvas"></div>
    <ion-scroll direction="y" class="scroll-list">
      <ion-list>
        <ion-item>
          Hello, 1!
        </ion-item>
        <ion-item>
          Hello, 2!
        </ion-item>
        <ion-item>
          Hello, 3!
        </ion-item>
        <ion-item>
          Hello, 4!
        </ion-item>
        <ion-item>
          Hello, 5!
        </ion-item>
        <ion-item>
          Hello, 6!
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
