<ion-view view-title="Map">
  <ion-content scroll="false">
    <div class="search-box">
      <label class="item item-input item-search">
        <i class="icon ion-search placeholder-icon"></i>
        <form ng-submit="SearchSubmit()">
          <input ng-model="search" type="search" placeholder="Search">
        </form>
      </label>
    </div>
    <div class="map" id="map_canvas"></div>
    <ion-scroll direction="y" class="scroll-list">
      <ion-list can-swipe="true">
        <ion-item ng-repeat="item in nearby">
          {{item.title}}
          <ion-option-button class="button-positive"
                             ng-click="savePlace(item)">
            Save
          </ion-option-button>
        </ion-item>
      </ion-list>
      <p ng-if="nearbyerror">Not able to get nearby places check your internet connection</p>
    </ion-scroll>
  </ion-content>
</ion-view>
