<ion-view view-title="My Places">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="place in places" type="item-text-wrap" href="#/tab/places/{{place.pageid}}">
        <img ng-if="place.image" ng-src="{{place.image}}">
        <img ng-if="!place.image" src="img/poi-default.png">
        <h2>{{place.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(place)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
